.app {
    height: 100vh;
    width: 100vw;
    background-color: rgb(202, 201, 196);
    display: grid;
    place-items: center;
}

.app__container {
    height: 70%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 236, 234);
    border-radius: 12px;
    padding: 32px 0px;
}

.app__todoContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}